@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    color: grey;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    color: grey;
    text-transform: uppercase;
}

a:hover{
    color: white;
}

.foot-left a:hover{
    text-decoration: underline;
}

i:hover{
    color: white;
}

.fa-play-circle:hover{
    font-size: 40px;
}

svg{
    width: 20px;
}

main{
    display: flex;
    flex-direction: row;
    height: calc(100% - 100px);
    overflow: hidden;
}

.nav{
    width: 50px;
    height: 100%;
    background-color: black;
    min-height: 490px;
    padding: 5px;
}

section{
    width: calc(100% - 50px);
    height: 100%;
    background-color: rgb(14,19,22);
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

footer{
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: rgb(28, 28, 28);
}

.none{
    display: none;
}

.nav a{
    margin-top: 5px;
}

.nav-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 80px);
    overflow-y: hidden;
}

.nav-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80px;
    justify-content: end;
}

.logo-mobile svg, #user svg{
    margin: 10px 0;
    width: 25px;
    height: 25px;
}

.logo{
    display: none;
}

.nav .fa-arrow-alt-circle-down{
    font-size: 10px;
}

#user svg{
    border-radius: 100%;
    background-color: grey;
}

.playlist{
    margin-top: 20px;
}

.menu-top{
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    width: calc(100% - 50px);
    background-color: rgba(0, 0, 0, 50%);
    position: fixed;
    z-index: 1;
}

.btn{
    margin-right: 5px;
    border: 1px solid white;
    border-radius: 50px;
    padding: 10px 30px;
    font-size: 12px;
}

.btn:hover {
    font-size: 15px;
}

.container{
    padding-top: 80px;
    margin: 0 15px;
}

.submenu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

.submenu a{
    margin: 12px;
    font-size: 13px;
}

.underline{
    width: 50%;
    margin: 0 auto;
    padding-top: 2px;
    border-bottom: 1px solid greenyellow;
}

.underline2{
    width: 180%;
    padding-top: 5px;
    border-bottom: 1px solid grey;
}

.music{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.block{
    width: calc(50% - 10px);
    margin-right: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

.img{
    position: relative;
}

.opacity{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}

.hover-play i{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
}

.block:hover .hover-play i, .block:hover .opacity{
    display: block;
}

img{
    width: 100%;
}

.text{
    margin: 25px 0;
    color: white;
}

.text2{
    text-align: center;
}

.title{
    font-size: 20px;
    font-weight: bold;
}

.title2{
    font-size: 15px;
    color: white;
}

.playlist li{
    margin-top: 15px;
}

.playlist li i{
    font-size: 30px;
    vertical-align: middle;
    margin-right: 5px;
}

.genre{
    margin: 10px 0;
    color: white;
}

.artist{
    font-size: 15px;
    text-align: center;
}

.border img{
    border-radius: 100%;
}

.subtitle{
    font-size: 13px;
}

.foot-left, .foot-right{
    width: 25%;
}

.foot-center{
    width: 50%;
}

footer{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

footer i{
    color: grey;
}

.foot-left{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.foot-l-left,
.foot-l-center,
.foot-l-right{
    width: calc(100% / 3);
}

.foot-l-left img{
    padding: 10px;
}

.foot-l-center{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: grey;
    line-height: 12px;
}

.text3{
    font-size: 12px;
    color: white;
}

.foot-l-right{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fa-heart{
    margin-bottom: 5px;
}

.foot-center{
    height: 100%;
    padding: 0 20px;
}

.foot-center i{
    color: white;
}

.fa-play-circle{
    font-size: 30px;
}

.foot-c-top{
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
}

.foot-c-bottom{
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 10px;
}

footer span{
    width: 15%;
    text-align: center;
}

.foot-c-b-center{
    width: 70%;
}

.player-bar{
    width: 100%;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    border-radius: 10px;
}

.gen-bar{
    position: relative;
    height: 100%;
    width: 20%;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}

.player-bar:hover .gen-bar,.player-bar:hover .focus-bar{
    background-color: greenyellow;
}

.focus-bar{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    width: 12px;
    height: 12px;
    border-radius: 100%;
}

.foot-right{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.foot-right i{
    margin-right: 10px;
    font-size: 13px;
}

@media screen and (min-width:576px) {
    .nav{
        width: 250px;
        padding: 15px;
    }

    .logo-mobile{
        display: none;
    }
    
    .logo{
        display: block;
    }

    .logo svg{
        width: 120px;
    }

    #home{
        margin-top: 20px;
    }

    .nav-top{
        align-items: flex-start;
    }

    svg{
        vertical-align: middle;
    }

    .nav-top a{
        text-transform: none;
    }

    .none{
        display: inline-block;
    }

    .nav-bottom{
        align-items: flex-start;
    }
    
    #download{
        margin-left: 5px;
        font-size: 10px;
    }

    #user{
        color: white;
        font-size: 15px;
    }

    .menu-top{
        width: calc(100% - 200px);
    }

}